@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;300;400;500;600;700&family=Lato:wght@400;700&display=swap");
*{
    font-family: "Georama", sans-serif;
}

.header, .departure-operated, .departure-arrival, .footer{
    border-bottom: 2px solid #cac9c9;
    padding-bottom: 0.5%;
}
.header h5{
    color:#9e9e9e;
    padding-top: 17%;
    text-align: right;
    font-weight: bold;
}
.header img{
    height: 70px;
}

.print-warning{
    border: 3px solid #dc3545 !important;
}

.grey-darker{
    color:#777777;
}
.grey-lighter{
     color:#9e9e9e;
 }

.bold{
    font-weight: bold;
}
.gb--connect-line {
    background-color: #dedede;
    margin: 0;
    width: 0.2rem;
    height: 135px;
}
.gb--connect-circle {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 99px;
    margin-top: 2.5px;
    background: transparent;
    border: 3px solid #777777;
}
.gb--connect-circle-green {
    width: 30px;
    padding: 3px 0px 0px 6px;
    height: 30px;
    display: block;
    border-radius: 99px;
    background: #7ed321;

}
.gb--route-details .gb--connect-divider_vertical {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 0.5rem;
}
.gb--connect-divider {
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    position: relative;
    flex-direction: column;
}

.table-passingers tr th{
    color:#777777;
    font-size:20px;
    padding-bottom: 1%;
}

.table-passingers tr td{
    font-size:20px;
    color:#9e9e9e;
    padding-top: 1.5%;
}